---
import { getCollection } from "astro:content";
import "../styles/global.css";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>情報処理研究会ブログ</title>
    </head>
    <body>
        <h1>活動ブログ</h1>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.id}`}>{post.data.title}</a>
                        <span>
                            ({post.data.date.toLocaleDateString("ja-JP")})
                        </span>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
