<div class="abstract-graphic" aria-hidden="true">
  <span class="abstract-line abstract-line-a"></span>
  <span class="abstract-line abstract-line-b"></span>
  <span class="abstract-line abstract-line-c"></span>
  <span class="abstract-block abstract-block-a"></span>
  <span class="abstract-block abstract-block-b"></span>
  <span class="abstract-dots"></span>
  <span class="abstract-grid"></span>
</div>
