---
import "../styles/global.css";
const { frontmatter } = Astro.props;
const { title, date, author } = frontmatter;
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
    </head>
    <body>
        <article>
            <h1>{title}</h1>
            <p>{author}・{date.toLocaleDateString("ja-JP")}</p>
            <slot />
        </article>
    </body>
</html>
